@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  overflow: auto;
  min-height: 300px;
  border: 5px solid black;
  padding: 30px;
  border-radius: 15px;
  background-color: white;
}

.header {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.add-task-container{
  border: 1px dotted black;
  padding: 15px;
  margin-bottom: 20px;
}

.form-control label{
  display: block;
  margin: 5px;
  font-size: 16px;
}

.form-control input{
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 14px;
}

.save-button{
  display: block;
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-family: inherit;
  width: 100%;
}

.task-container{
  display:flex;
  align-items: left;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid black;
}

.task-container input {
  width: 30px;
  height: 30px;
  margin: 5px;
  margin-top: 10px;
  margin-right: 20px;
}

.task-container .task-text-container{
  flex: 2;
  overflow: auto;
}

.trash-icon{
  margin-top: 10px;
  margin-left: 10px;
}

.checked{
  text-decoration: line-through;
}